body{
  height:auto;
}
.list-item{
  margin-bottom: 20px;
}
.item{
  /*border: 1px solid #ddd;*/
  /*padding: 10px;*/
  /*border-radius: 10px;*/
  /*min-height: 200px;*/
}
.item-title{
  line-height: 34px;
  margin: 0;
}
.item .item-content{
  padding: 10px 20px;
}
.item-content .btn{
}