body{
  min-height:100% ;
  height:auto;
}
.list-item{
  margin-bottom: 20px;
}
.item{
  /*border: 1px solid #ddd;*/
  /*padding: 10px;*/
  /*border-radius: 10px;*/
  /*min-height: 200px;*/
}
.item-title{
  line-height: 34px;
  margin: 0;
}
.item .item-content{
  height: 9em;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  padding: 10px 20px;
}
.item-content .btn{
}
.title-btn,.content-btn{
  display: none;
}
/*.title-btn:hover,.content-btn:hover{*/
  /*display: inline-block ;*/
/*}*/